.Search {
    text-align: center;
}

.Search-container {
    margin-top: 200px;
}

.Search-input {
    border: 1px solid #cccc;
    width: 200px;
    height: 27px;
    padding:5px;
    margin-right:5px;
    font-size: 15px;
    border-radius: 10px;
    
}

.Search-button {
    height: 35px;
    font-size: 15px;
    border: none;
    padding: 7px 14px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 4px;
    margin-left: 4px;
    color: white;
    background: #185adb;
}

.Search-error {
    color: red;
}